<h3>Add the Ingredients to <%= @recipe.name() %></h3>


<% if @ingredients.any? %>
  <% @ingredients.each() do |ingredient| %>
    <ul>
      <li><%= ingredient.quantity() %>  <%= ingredient.name() %></li>
    </ul>
  <% end %>
<% else %>
  <p>You have not added any ingredients yet!</p>
<% end %>
<br>
<form action="/add_ingredients" method="post">

  <label for="name">Add new ingredient</label>
  <input type="text" name="name" id="name">

  <label for="quantity">Quantity</label>
  <input type="float" name="quantity" id="quantity">

  <button type="submit">Add Ingredient</button>

</form>
<br>
<%= @recipe.name() %>
<br>
<%= @recipe.oven_temp() %>
<br>
<%= @recipe.prep() %>
<br>
<%= @recipe.steps() %>
<br>
<%= @recipe.pairing() %>
